/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: white;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 430px;

  background: white;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px;
  min-width: 430px;
  justify-content: center;

  font-family: Arial, serif;

  background-color: black;
}

.header #headerTitle {
  position: relative;
  width: 275px;
  margin: 0 10px;
  flex-shrink: 0;
  text-align: center;

  color: white;
}

.header div {
  color: white;
  margin: 5px;
}

.header span {
  padding: 5px;
  color: darkgray;
}

.searchBarContainer {
  display: inline-block;
  float: left;
  height: 32px;
  width: 40%;
  min-width: 125px;
  margin: 25px 10px 5px;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.searchBar {
  display: block;
  width: 97%;
  height: 21px;
  padding: 2px 4px;

  font-family: Arial, serif;
  color: black;

  border: medium solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.searchBar:focus {
  outline: none;
}

.suggestionList {
  display: block;
  width: 97%;
  padding: 2px 4px;
  margin: 0;
  z-index: +1;
  position: relative;

  background-color: white;
  border: medium solid white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.suggestion {
  display: block;
  width: 97%;
  height: 20px;
  padding: 2px 2px;
  margin: 0;

  cursor: pointer;
  background-color: white;
  border: medium solid white;
}

.suggestion:hover {
  background-color: darkgray;
}

.searchButton {
  display: inline-block;
  float: right;
  position: relative;
  padding: 1px;
  height: 31px;
  width: 31px;
  min-height: 29px;
  min-width: 29px;
  margin: 25px 10px 5px;

  border: medium solid white;
  border-radius: 5px;
}

.searchButton {
  outline: none;
}

.headerButtonsContainer {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  text-align: center;
}

.selectButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerButtonsContainer #currentPage {
  flex-shrink: 0;
  min-width: 190px;
  margin: 0;
  color: white;
}

.homeButton:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all 0.3s linear 0s;
}

.reviewButton:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all 0.3s linear 0s;
}

.favouritesButton:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: all 0.3s linear 0s;
}

/* Main Body Section ------------------ */

.reviewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  margin: 0;
  z-index: +1;
  justify-content: center;

  background-image: url('../css/media/background_covers/default_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;

  background-color: white;
  border: thin solid darkgray;
  border-radius: 5px;
}

/* Game Content ------------------ */

.articleContainer {
  min-height: 150px;
  max-width: 636px;

  font-family: Arial, serif;

  border-bottom: thin solid darkgray;
}

.expanded {
  min-height: 215px;

  border-bottom: thin solid darkgray;
}

.articleReviewContainer {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  min-height: 150px;

  font-family: Arial, serif;

  border-bottom: thin solid darkgray;
}

.gameReview {
  display: none;
  align-items: center;
}

.hidden {
  padding: 10px 0 10px;
  display: block;
}

.focusedGameReview {
  display: flex;
  flex-direction: column;
  padding: 10px;

  font-family: Arial, serif;
}

.focusedGameReview #focusedReviewContainer {
  margin: 0;
}

.articleCover {
  padding: 10px 5px;
  height: 140px;
  width: 100px;
}

.gameImage:hover, .gameBannerImage:hover {
  transform: scale(1.10);
}

.articleNumber {
  margin: 10px 3px 10px 5px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 150px;
  min-width: 135px;
  margin: 0;
}

.gameTitle {
  margin: 0;
  cursor: pointer;
}

.gamePlatform, .gameReleaseDate {
  margin: 2px 0 2px 2px;
}

.platformLogo {
  margin: 0 3px;
}

.gameTitle:hover {
  color: dimgray;
}

.articleScore {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
  width: 70px;
  position: relative;
  text-align: center;
}

.gameScore {
  padding: 10px 10px;
  height: 20px;
  width: 50px;

  font-weight: bold;

  background-color: green;
  border: thin solid black;
  border-radius: 10px;
}

.articleExpand {
  width: 75px;
  bottom: 10px;
  position: absolute;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  padding: 3px;

  border: solid black;
  border-width: 0 3px 3px 0;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.articleExpand:hover {
  border-bottom: 1px solid black;
  transition: all 0.3s linear 0s;
}

.reviewContainer #reviewSidebar {
  position: relative;
  padding: 0 10px 10px;
  width: 250px;
  margin: 10px auto;

  font-family: Arial, serif;

  background-color: white;
  border: thin solid darkgray;
  border-radius: 5px;
}

.topGamesContainer {
  display: block;
}

.reviewContainer #topGamesTitle, .comingSoonWrapper #comingSoonTitle  {
  display:inline-flex;
  padding: 5px;
  height: 20px;
  width: 110px;
  margin: 5px 0;
  text-align: center;
}

.reviewContainer #topGames {
  display: flex;
  flex-direction: column;
}

.topGame:hover {
  cursor: pointer;
  color: darkgray;
}

.topGameScore {
  margin-left: 15px;

  font-weight: bold;

  background-color: green;
  border: thin solid black;
  border-radius: 5px;
}

.reviewContainer #reviewSidebar #gameBanner {
  display: flex;
  height: 180px;
  min-width: 180px;
  max-width: 1260px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;

  border-top: thin solid darkgray;
  border-bottom: thin solid darkgray;
  border-radius: 5px;
}

.gameBannerContainer {
  display: flex;
  animation: marquee 45s linear infinite;
  justify-content: space-around;
}

.gameBannerImage {
  display: block;
  top: 12px;
  height: 140px;
  width: 100px;
  margin: 20px;

  transition: .2s;

  border-radius: 5px;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

/* Review HTML Page ------------------ */

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameWrapper {
  padding: 10px;
  max-width: 900px;
  margin: 50px;

  background-color: white;
  border: thin solid darkgray;
  border-radius: 5px;
}

.youtubeVidContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtubeVidContainer #youtubeVid {
  position: absolute;
  height: 98%;
  width: 98%;
  top: 0;
  left: 0;

  border: thick solid black;
  border-radius: 15px;
}

.reviewContainer #gameScroll {
  display: none;
  flex-direction: row;
  padding: 25px 10px;
  max-width: 685px;
  margin: 30px 0;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
}

.gameArticle {
  display: none;
  min-height: 150px;

  font-family: Arial, serif;

}

.prev, .next {
  padding: 10px;
  height:25px;
  width: auto;
  cursor: pointer;
  user-select: none;

  font-size: 18px;

  border-radius: 2px;
  opacity: 1;
  transition: 0.6s ease;
}


.prev:hover, .next:hover {
  background-color: darkgray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

/* Footer Section ------------------ */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  height: 35px;
  width: 100%;
  min-width: 430px;
  text-align: center;

  color: white;
  font-family: Arial, serif;

  background-color: black;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* Header Section ------------------ */
  .header {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    height: 80px !important;
  }

  .header #headerTitle {
    width: 100px !important;
  }

  .topGamesContainer {
    display: inline-block !important;
    height: auto !important;
    max-width: 190px !important;
    margin: 10px 0 0 !important;
  }

  .reviewContainer #reviewSidebar #gameBanner {
    display: flex !important;
  }

  .reviewContainer #reviewSidebar {
    display: flex !important;
    flex-direction: row !important;
    padding: 0 10px 10px !important;
    width: auto !important;
    max-width: 500px !important;
  }

  .comingSoonContainer {
    min-width: 210px !important;
  }

  .comingSoonWrapper {
    display: inline-block !important;
    min-width: 210px !important;
    margin-top: 10px;
    margin-left: 10px;

    border-left: thin solid darkgray !important;
  }

  .comingSoonWrapper #comingSoon {
    min-width: 210px;
  }

  .comingSoonWrapper #comingSoonTitle {
    margin-left: 3px !important;
  }

  .comingSoonContainer {
    margin-left: 10px !important;
  }

  .reviewContainer {
    height: auto !important;
  }

  .reviewContainer #gameScroll {
    display: flex;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* Header Section ------------------ */

  .header {
    padding: 30px 10px !important;
    height: 65px !important;
  }

  .header #headerTitle {
    height: 30px !important;
    width: 300px !important;
    margin: 10px 5px !important;
  }

  .header span {
    margin-top: 2px !important;
  }

  .searchBarContainer, .searchButton {
    margin: 10px 10px !important;
  }

  .headerButtonsContainer {
    margin: 0 10px !important;
  }

  .reviewContainer {
    flex-direction: row !important;
  }

  .reviewContent {
    margin: 0 !important;
  }

  .reviewContainer #reviewSidebar {
    flex-direction: column !important;
    height: 1150px;
    width: 220px !important;
    margin: 0 10px !important;
  }

  .topGamesContainer {
    max-width: 220px !important;
    margin-top: 0 !important;
  }

  .reviewContainer #reviewSidebar #gameBanner {
    min-width: 220px !important;
  }

  .comingSoonWrapper {
    width: auto !important;
    margin: auto 0 0 auto !important;

    border-left: none !important;
  }

  .comingSoonWrapper #comingSoonTitle {
    margin-left: auto !important;
  }

  .comingSoonContainer {
    width: auto !important;
  }
}
