/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: white;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;

  background: white;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) and (max-width: 999px) {

  /* applies to screens wider than 999px */

  html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  }

  body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  /* Header Section ------------------ */

  .header {
    padding: 40px 10px;
    width: 100%;
    height: 90px;
    display: inline-flex;
    text-align: center;

    font-family: Arial, serif;

    background-color: black;
  }

  .header #headerTitle {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    color: white;
  }

  .header div {
    color: white;
    padding: 30px 0;
    margin: 4px 10px;
  }

  .header #searchBarIndex, .header #searchBarGames, .header #searchBarFavourites {
    position: relative;
    height: 21px;
    min-width: 125px;
    width: 52%;
    margin: 28px 10px;

    border: medium solid white;
    border-radius: 5px;
  }

  .header #searchBarIndex:focus, .header #searchBarGames:focus, .header #searchBarFavourites:focus {
    outline: none;
  }

  .header #searchButtonIndex, .header #searchButtonGames, .header #searchButtonFavourites {
    position: relative;
    padding: 1px;
    height: 29px;
    width: 29px;
    min-height: 29px;
    min-width: 29px;
    margin: 28px 0;

    border: none;
    border-radius: 5px;
  }

  .header #searchButtonIndex:focus, .header #searchButtonGames:focus, .header #searchButtonFavourites:focus {
    outline: none;
  }

  .homeButton {
    padding: 5px;
    margin: 30px 0;
    color: darkgray;
  }

  .homeButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  .gamesButton {
    padding: 5px;
    margin: 30px 0;
    color: darkgray;
  }

  .gamesButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  .favouritesButton {
    padding: 5px;
    margin: 30px 0;
    color: darkgray;
  }

  .favouritesButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  /* Content Section ------------------ */

  .reviewContainer {
    position: relative;
    display: inline-flex;
    padding: 20px;
    min-height: 1050px;
    width: 100%;
    margin: 0;
    justify-content: center;

    background-color: white;
  }

  .reviewContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 1050px;
    width: 425px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;

    background-color: white;
    border: thin solid lightgray;
    border-radius: 5px;
  }

  /* Article Content ------------------ */

  .articleContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 425px;
    width: 97%;

    font-family: Arial, serif;
    font-weight: bold;

    border-bottom: thin solid lightgray;
  }

  .expanded {
    height: 620px;

    border-bottom: thin solid lightgray;
  }

  .articleReviewContainer {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 210px;
    width: 97%;

    font-family: Arial, serif;
    font-weight: bold;

    border-bottom: thin solid lightgray;
  }

  .gameReview {
    display: none;
  }

  .hidden {
    padding: 10px 0 10px;
    height: 97%;
    width: 97%;
    display: block;
  }

  .focusedGameReview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 270px;
    width: 630px;

    font-family: Arial, serif;
    font-weight: bold;
  }

  .focusedGameReview #focusedReviewContainer {
    margin: 10px 0;
  }

  .focusedGameReview #gamePlatform {
    right: 0;
  }

  .reviewTitle {
    padding: 10px 0;
    margin: 0;
  }

  .articleWrapper {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    min-height: 400px;
    width: 97%;
  }

  .articleCover {
    padding: 35px 5px;
    height: 140px;
    width: 100px;
    margin-right: 10px;
  }

  .articleNumber {
    margin: 30px 10px;
  }

  .articleInfo {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 375px;
  }

  .gameTitle {
    margin: 0;
    cursor: pointer;
  }

  .gameTitle:hover {
    color: dimgray;
  }

  .gameReleaseDate {
    margin: 5px;
  }

  .articleInfo {
    padding: 30px 0;
    height: 350px;
  }

  .articleScore {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    height: 150px;
    width: 75px;
    text-align: center;
  }

  .gameScore {
    padding: 10px 10px;
    max-height: 50px;
    width: 50px;

    background-color: limegreen;
    border: thin solid black;
    border-radius: 10px;
  }

  .articleExpand {
    height:25px;
    width: 75px;
    margin-top: 310px;
    cursor: pointer;
  }

  .arrow {
    display: inline-block;
    padding: 3px;

    border: solid black;
    border-width: 0 3px 3px 0;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotatE(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotatE(45deg);
  }

  .articleExpand:hover {
    border-bottom: 1px solid black;
    transition: all 0.3s linear 0s;
  }

  .reviewContainer #reviewSidebar {
    position: relative;
    padding: 10px;
    min-height: 1050px;
    width: 250px;
    margin: 10px;

    font-family: Arial, serif;
    font-weight: bold;

    background-color: white;
    border: thin solid lightgray;
    border-radius: 5px;
  }

  .topGamesContainer {
    padding: 10px;

    border-bottom: thin solid lightgray;
  }

  .reviewContainer #topGamesTitle {
    display:inline-flex;
    padding: 5px;
    height: 25px;
    width: 95px;
    margin-bottom: 10px;
    text-align: center;

    border-bottom: thin solid lightgray;
  }

  .reviewContainer #topGames {
    display: flex;
    flex-direction: column;
  }

  .topGame {
    margin: 3px 0;
  }

  .topGameScore {
    margin-left: 15px;

    background-color: limegreen;
    border: thin solid black;
    border-radius: 5px;
  }

  /* Footer Section ------------------ */

  .footer {
    display: block;
    padding: 40px 10px;
    width: 100%;
    height: 35px;
    bottom: 0;

    background-color: black;
  }

  /* Game HTML Page ------------------ */

  .gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gameWrapper {
    padding: 10px;
    height: 500px;
    width: 650px;
    margin: 50px;

    border: thin solid lightgray;
  }

  .gameContainer #gameScroll {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 220px;
    width: 685px;
    margin: 50px 22%;
    align-items: center;
    justify-content: center;

    border: thin solid lightgray;
  }

  .gameArticle {
    display: none;

    font-family: Arial, serif;
    font-weight: bold;

    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
  }

  .articleSpacer {
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-top: 100px;
  }

  .prev, .next {
    padding: 10px;
    height:25px;
    width: auto;
    margin-top: 115px;
    margin-bottom: 125px;
    cursor: pointer;
    user-select: none;

    font-weight: bold;
    font-size: 18px;

    border-radius: 2px;
    opacity: 1;
    transition: 0.6s ease;
  }


  .prev:hover, .next:hover {
    background-color: lightgray;
  }

  .fade {
    height: 210px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }

  @keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }
}


/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

  }

  body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  /* Header Section ------------------ */

  .header {
    padding: 40px 10px;
    width: 100%;
    height: 35px;
    display: inline-flex;

    font-family: Arial, serif;

    background-color: black;
  }

  .header #headerTitle {
    position: relative;
    height: 30px;
    margin: 0 10px;
    color: white;
    flex-shrink: 0;
  }

  .header div {
    color: white;
    margin: 4px 10px;
  }

  .searchBar {
    position: relative;
    height: 21px;
    width: 48%;
    min-width: 125px;
    margin: 0 10px;

    border: medium solid white;
    border-radius: 5px;
  }

  .searchBar:focus {
    outline: none;
  }

  .searchButton {
    position: relative;
    padding: 1px;
    height: 29px;
    width: 29px;
    min-height: 29px;
    min-width: 29px;
    margin: 0 10px;

    border: none;
    border-radius: 5px;
  }

  .searchButton:focus {
    outline: none;
  }

  .homeButton {
    padding: 5px;
    color: darkgray;
  }

  .homeButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  .gamesButton {
    padding: 5px;
    color: darkgray;
  }

  .gamesButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  .favouritesButton {
    padding: 5px;
    color: darkgray;
  }

  .favouritesButton:hover {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: all 0.3s linear 0s;
  }

  /* Content Section ------------------ */

  .reviewContainer {
    display: inline-flex;
    padding: 20px;
    min-height: 1100px;
    width: 100%;
    margin: 0;
    justify-content: center;

    background-color: white;

    overflow-y: auto;
  }

  .reviewContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 1050px;
    width: 625px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;

    background-color: white;
    border: thin solid lightgray;
    border-radius: 5px;
  }

  .reviewContainer #favouriteReviewContent {

  }


  /* Article Content ------------------ */

  .articleContainer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    min-height: 230px;
    width: 97%;

    font-family: Arial, serif;
    font-weight: bold;

    border-bottom: thin solid lightgray;
  }

  .expanded {
    min-height: 390px;

    border-bottom: thin solid lightgray;
  }

  .articleReviewContainer {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 210px;
    width: 97%;

    font-family: Arial, serif;
    font-weight: bold;

    border-bottom: thin solid lightgray;
  }

  .gameReview {
    padding: 10px;
    height: 97%;
    width: 97%;
    display: none;
  }

  .hidden {
    padding: 25px 0 5px;
    display: block;
  }

  .focusedGameReview {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 270px;
    width: 630px;

    font-family: Arial, serif;
    font-weight: bold;
  }

  .focusedGameReview #focusedReviewContainer {
    margin: 10px 0;
  }

  .focusedGameReview #gamePlatform {
    right: 0;
  }

  .articleWrapper {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    max-height: 210px;
    width: 97%;
  }

  .articleCover {
    padding: 35px 5px;
    height: 140px;
    width: 100px;
    margin-right: 10px;
  }

  .articleNumber {
    margin: 30px 10px;
  }

  .articleInfo {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 420px;
  }

  .gameTitle {
    max-width: 300px;
    margin: 0 100px 0 0;
    cursor: pointer;
  }

  .gamePlatform {
    margin: 2px 0 2px 2px;
  }

  .platformLogo {
    margin: 0 3px;
  }

  .gameTitle:hover {
    color: dimgray;
  }

  .gameReleaseDate {
    margin: 2px 0 5px 2px;
  }

  .articleInfo {
    padding: 30px 0;
  }

  .articleScore {
    display: flex;
    flex-direction: column;
    padding:10px 10px 0 10px;
    height: 210px;
    width: 75px;
    text-align: center;

  }

  .gameScore {
    padding: 10px 10px;
    max-height: 50px;
    width: 50px;

    background-color: limegreen;
    border: thin solid black;
    border-radius: 10px;
  }

  .articleExpand {
    height:25px;
    width: 75px;
    margin-top: 150px;
    cursor: pointer;
  }

  .arrow {
    display: inline-block;
    padding: 3px;

    border: solid black;
    border-width: 0 3px 3px 0;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotatE(-135deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotatE(45deg);
  }

  .articleExpand:hover {
    border-bottom: 1px solid black;
    transition: all 0.3s linear 0s;
  }

  /* Sidebar Elements */

  .reviewContainer #reviewSidebar {
    position: relative;
    padding: 10px;
    min-height: 1050px;
    width: 250px;
    margin: 10px;

    font-family: Arial, serif;
    font-weight: bold;

    background-color: white;
    border: thin solid lightgray;
    border-radius: 5px;
  }

  .topGamesContainer {
    padding: 10px;

    border-bottom: thin solid lightgray;
  }

  .reviewContainer #topGamesTitle {
    display:inline-flex;
    padding: 5px;
    height: 25px;
    width: 95px;
    margin-bottom: 10px;
    text-align: center;

    border-bottom: thin solid lightgray;
  }

  .reviewContainer #topGames {
    display: flex;
    flex-direction: column;
  }

  .topGame {
    margin: 3px 0;
  }

  .topGameScore {
    margin-left: 15px;

    background-color: limegreen;
    border: thin solid black;
    border-radius: 5px;
  }

  /* Footer Section ------------------ */

  .footer {
    position: relative;
    padding: 40px 10px;
    width: 100%;
    height: 35px;

    background-color: black;
  }

  /* Game HTML Page ------------------ */

  .gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gameWrapper {
    padding: 10px;
    height: 400px;
    width: 650px;
    margin: 50px;

    border: thin solid lightgray;
  }

  .gameContainer #gameScroll {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 210px;
    width: 685px;
    margin: 50px 22%;
    align-items: center;
    justify-content: center;

    border: thin solid lightgray;
  }

  .gameArticle {
    display: none;

    font-family: Arial, serif;
    font-weight: bold;

    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
  }

  .articleSpacer {
    padding: 10px;
    height: 50px;
    width: 50px;
    margin-top: 100px;
  }

  .prev, .next {
    padding: 10px;
    height:25px;
    width: auto;
    margin-top: 115px;
    margin-bottom: 125px;
    cursor: pointer;
    user-select: none;

    font-weight: bold;
    font-size: 18px;

    border-radius: 2px;
    opacity: 1;
    transition: 0.6s ease;
  }


  .prev:hover, .next:hover {
    background-color: lightgray;
  }

  .fade {
    height: 210px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }

  @keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
  }
}
